<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 50px auto;
    }

    label {
        display: flex;
        margin-bottom: 20px;
    }

    input,
    span {
        flex: 1 1 50%;
    }
</style>
<form action="config" method="post">
    <label>
        <span>maxVersion</span>
        <input type="text" name="maxVersion" value="{{config.maxVersion}}">
    </label>
    <label>
        <span>minVersion</span>
        <input type="text" name="minVersion" value="{{config.minVersion}}">
    </label>
    <label>
        <span>terms&conditionsURL</span>
        <input type="text" name="terms&conditionsURL" value="{{config.terms}}">
    </label>
    <label>
        <span>privacyURL</span>
        <input type="text" name="privacyURL" value="{{config.privacyURL}}">
    </label>
    <label>
        <span>supportEmail</span>
        <input type="text" name="supportEmail" value="{{config.supportEmail}}">
    </label>

    <h3>dog_breeds</h3>
    <ul>
        {{#each config.dog_breeds}}
            <li>
                <input type="text" value="{{this}}" disabled>
            </li>
        {{/each}}
    </ul>

    <label>
        <span>New Breed</span>
        <input type="text" name="newDogBreed" id="newDogBreed" value="">
    </label>

    <button id="sendButton">Save</button>
</form>

<script>
    document.querySelector('#sendButton').addEventListener('click', e => {
        const newDogBreed = document.querySelector('#newDogBreed').value;

        if (newDogBreed) {
            const createNewBreed = confirm("Are you sure you want to add AKITA breed? You can’t edit it or delete in in the future!");

            if (!createNewBreed) {
                e.preventDefault();
            }
        }
    });
</script>